<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1H1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
                Clínica Fisioterapia
                <img src="" alt="imagenClinica">
                <p>Cerrar Sesión</p>
    </header>
    <p>Filtrar por: </p>
    <Selec value="" class="combo-box">
        <option id="Fisioterapeutas">Fisioterapeutas</option>
        <option id="Pacientes">Pacientes</option>
    </Select>

</body>
</html>