<!-- gestionar_terapias.html -->
<h1>Detalles de la Cita</h1>
<p>Cita ID: {{ cita.citaID }}</p>
<p>Fecha de la Cita: {{ cita.fecha }}</p>

<!-- Formulario para agregar nuevas terapias -->
<h2>Agregar Nueva Terapia</h2>
<form method="post">
    {% csrf_token %}
    {{ agregar_terapia_form.as_p }}  <!-- Muestra el formulario -->
    <button type="submit" name="'crear_terapia'">Agregar Terapia</button>
</form>

<h2>Terapias Asociadas</h2>
<ul>
    {% for terapia in terapias %}
    <li>{{ terapia.nombre }} - {{ terapia.descripcion }}</li>
    {% empty %}
    <li>No hay terapias asociadas</li>
    {% endfor %}
</ul>


