<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Pacientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" onclick="location.href='/cita/'" style="cursor: pointer;">Fisioterapeuta</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pacientes' %}">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>
    
    
    <div class="container mt-4">
        <h2>Administración de Pacientes</h2>
        
        <!-- Botón para mostrar el formulario -->
        <button class="btn btn-success" onclick="toggleForm()">Agregar Paciente</button>
    
        <!-- Formulario para registrar pacientes, inicialmente oculto -->
        <div id="patientForm" style="display: none;">
            <form method="post">
                <h3>Registrar Paciente</h3>
                {% csrf_token %}
                {{ paciente_form.as_p }}
                
                <div class="formset">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form.as_p }}  <!-- Formularios para las lesiones -->
                    {% endfor %}
                </div>
                
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
    
</body>
</html>

<script>
    function toggleForm() {
        var form = document.getElementById("patientForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
    </script>
