<!DOCTYPE html>
<html lang="es">
<head>
    <title>Terapias y Movimientos</title>
</head>
<body>
    <h1>Terapias</h1>

    <h2>Agregar nueva Terapia</h2>
    <form method="post" style="display:inline;">
        <h3>Paciente</h3>
        <p>Cedula: {{ paciente.cedula }}</p>
        <p>Nombre: {{ paciente.nombre }}</p>
        <p>Apellido: {{ paciente.apellido }}</p>
        <h3>Terapia</h3>
        {% csrf_token %}
        {{ terapia_form.as_p }}
        <button type="submit" name="add_terapia">Agregar Terapia</button>
    </form>

    <!--Tipos Ejercicios-->
    <button onclick="openModal()">Agregar Tipo de Ejercicio</button>
    <div id="modalBackground" class="modal-background" onclick="closeModal()"></div>
    <div id="tipoEjercicioModal" class="modal">

    <h2>Agregar Tipo de Ejercicio </h2>
    <form method="post" style="display:inline;">
        {% csrf_token %}
        
        {{ tipo_ejercicio_form.as_p }}
        <button type="submit" name="add_tipo_ejercicio">Agregar Tipo de Ejercicio</button>
        <button type="button" onclick="closeModal()">Cerrar</button>
    </form>

    

        <h2>Lista de Tipos de Ejercicio</h2>
        <ul>
            {% for tipo in tipo_ejercicios %}
                <li>
                    {{ tipo.nombre }}

                    <form method="post" action="{% url 'tipo_ejercicio_delete' tipo.tipoEjercicioID %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este tipo de ejercicio?')">Eliminar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
        

    
    <h2>Lista de Terapias</h2>
    <ul>
        {% for terapia in terapias %}
        <br>
            <li>
                {{ terapia.nombre }}
                {{ terapia.fecha }}
                <!-- Formulario para agregar movimientos -->
                <form method="post" action="{% url 'movimiento_add' terapia.terapiaID %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="text" name="nombre" placeholder="Nuevo Movimiento" required>
                    <button type="submit">Agregar Movimiento</button>
                </form>

                <form method="post" action="{% url 'terapia_delete' terapia.terapiaID %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta terapia?')">Eliminar Terapia</button>
                </form>
                
                <!-- Lista de movimientos -->
                <h4>Movimientos</h4>
                <ul>
                    {% for movimiento in terapia.movimiento_set.all %}
                        <li>
                            {{ movimiento.nombre }}

                            <form method="post" action="{% url 'agregar_ejercicio_a_movimiento' movimiento.movimientoID %}" style="display:inline;">
                                {% csrf_token %}
                                {{ ejercicio_combo_form.as_p }}
                                <button type="submit">Agregar Ejercicio</button>
                            </form>

                            <!-- Formulario para eliminar movimiento -->
                            <form method="post" action="{% url 'movimiento_delete' movimiento.movimientoID %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este movimiento?')">Eliminar Movimiento</button>
                            </form>


                            <h4>Ejercicios Asociados</h4>
                            <ul>
                                {% for ejercicio in movimiento.ejercicios_set.all %}  <!-- Bucle para recorrer ejercicios de cada movimiento -->
                                    <li>
                                        {{ ejercicio.tipoEjercicioID.nombre }} - {{ ejercicio.porcentaje }}%

                                        <form method="post" action="{% url 'eliminar_ejercicio' ejercicio.ejercicioID %}" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este ejercicio?')">Eliminar Ejercicio</button>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>

                        </li>

                        
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

<style>
    /* Estilos para el modal */
    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    .modal-background {
        display: none; /* Oculto por defecto */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }
</style>
<script>
    // Abre el modal
    function openModal() {
        document.getElementById("tipoEjercicioModal").style.display = "block";
        document.getElementById("modalBackground").style.display = "block";
    }

    // Cierra el modal
    function closeModal() {
        document.getElementById("tipoEjercicioModal").style.display = "none";
        document.getElementById("modalBackground").style.display = "none";
    }
</script>