<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Terapias y Movimientos</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      /* Estilos personalizados */
      .navbar-custom {
        background-color: #007bff; /* Azul */
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000; /* Asegura que el navbar esté encima de otros elementos */
      }

      .navbar-custom .navbar-brand,
      .navbar-custom .navbar-nav .nav-link {
        color: white !important; /* Texto blanco */
      }

      .navbar-custom .navbar-brand img {
        width: 50px; /* Tamaño del logo */
        margin-right: 10px; /* Espacio entre el logo y el texto */
      }

      /* Estilos para los recuadros */
      .recuadro {
        padding: 20px;
        margin-bottom: 20px;
      }

      .recuadro-paciente {
        background-color: #f0f0f0; /* Color gris claro */
      }

      .recuadro-terapia {
        background-color: #e0e0e0; /* Color gris más claro */
      }
        /* Estilos para el footer */
        footer {
            background-color: #007bff;
            color: #f2f2f2;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            left: 0; /* Ajuste para eliminar el margen izquierdo */
            width: 100%;
            z-index: 0;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="/cita/"
          ><img src="ruta_a_tu_logo.png" alt="Logo" />Fisioterapeuta</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pacientes' %}">Pacientes</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                onclick="openModal('addExerciseType')"
                style="cursor: pointer"
                >Agregar Tipo de Ejercicio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="recuadro recuadro-paciente">
            <br>
            <br>
            <h2 class="mb-4">Paciente</h2>
            <p>Cedula: {{ paciente.cedula }}</p>
            <p>Nombre: {{ paciente.nombre }}</p>
            <p>Apellido: {{ paciente.apellido }}</p>
            <button onclick="window.history.back()" class="btn btn-primary">Volver</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="recuadro recuadro-terapia">
            <h2 class="mb-4">Terapia</h2>
            <h2>Agregar nueva Terapia</h2>
            <form method="post">
            
              <h3>Terapia</h3>
              {% csrf_token %} {{ terapia_form.as_p }}
              <button type="submit" name="add_terapia" class="btn btn-primary">
                Agregar Terapia
              </button>
            </form>
        </div>

        
        </div>
      </div>
    </div>
<div class="container">
    
    <h2 class="mt-4">Lista de Terapias</h2>
    <ul class="list-group">
      {% for terapia in terapias %}
      <li class="list-group-item">
        {{ terapia.nombre }} {{ terapia.fecha }}
        <!-- Formulario para agregar movimientos -->
        <form
          method="post"
          action="{% url 'movimiento_add' terapia.terapiaID %}"
          style="display: inline"
        >
          {% csrf_token %}
          <input
            type="text"
            name="nombre"
            placeholder="Nuevo Movimiento"
            required
          />
          <button type="submit" class="btn btn-primary">
            Agregar Movimiento
          </button>
        </form>

        <form
          method="post"
          action="{% url 'terapia_delete' terapia.terapiaID %}"
          style="display: inline"
        >
          {% csrf_token %}
          <button
            type="submit"
            class="btn btn-danger"
            onclick="return confirm('¿Estás seguro de que deseas eliminar esta terapia?')"
          >
            Eliminar Terapia
          </button>
        </form>
        <a
          href="{% url 'ver_reporte' terapia.terapiaID %}"
          class="btn btn-info"
          >Ver Reporte</a
        >

        <!-- Lista de movimientos -->
        <h4 class="mt-3">Movimientos</h4>
        <ul class="list-group">
          {% for movimiento in terapia.movimiento_set.all %}
          <li class="list-group-item">
            {{ movimiento.nombre }}
            <form
              method="post"
              action="{% url 'agregar_ejercicio_a_movimiento' movimiento.movimientoID %}"
              style="display: inline"
            >
              {% csrf_token %} {{ ejercicio_combo_form.as_p }}
              <button type="submit" class="btn btn-primary">
                Agregar Ejercicio
              </button>
            </form>
            <form
              method="post"
              action="{% url 'movimiento_delete' movimiento.movimientoID %}"
              style="display: inline"
            >
              {% csrf_token %}
              <button
                type="submit"
                class="btn btn-danger"
                onclick="return confirm('¿Estás seguro de que deseas eliminar este movimiento?')"
              >
                Eliminar Movimiento
              </button>
            </form>

            <h4 class="mt-3">Ejercicios Asociados</h4>
            <ul class="list-group">
              {% for ejercicio in movimiento.ejercicios_set.all %}
              <li class="list-group-item">
                {{ ejercicio.tipoEjercicioID.nombre }} - {{
                ejercicio.porcentaje }}%
                <form
                  method="post"
                  action="{% url 'actualizar_porcentaje' %}"
                  style="display: inline"
                >
                  {% csrf_token %}
                  <input
                    type="hidden"
                    name="ejercicio_id"
                    value="{{ ejercicio.ejercicioID }}"
                  />
                  <label for="porcentaje">Porcentaje:</label>
                  <input
                    type="number"
                    name="porcentaje"
                    step="0.01"
                    min="0"
                    max="100"
                    required
                  />
                  <button type="submit" class="btn btn-primary">
                    Actualizar
                  </button>
                </form>
                <form
                  method="post"
                  action="{% url 'eliminar_ejercicio' ejercicio.ejercicioID %}"
                  style="display: inline"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="btn btn-danger"
                    onclick="return confirm('¿Estás seguro de que deseas eliminar este ejercicio?')"
                  >
                    Eliminar Ejercicio
                  </button>
                </form>
                <div id="form-container">
                  {% if ejercicio.tipoEjercicioID.url %}
                  <iframe
                    width="560"
                    height="315"
                    src="{{ ejercicio.tipoEjercicioID.url  }}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                  {% else %}
                  <p>No hay video disponible.</p>
                  {% endif %}
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  
</div>
    <div
      id="modalBackground"
      class="modal-background"
      onclick="closeModal()"
    ></div>
    <div id="universalModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Tipo de Ejercicio</h5>
            <button type="button" class="close" onclick="closeModal()">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modalContentArea">
            <!-- Aquí se carga el contenido del modal -->
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      function openModal(contentType) {
        var modal = document.getElementById("universalModal");
        var background = document.getElementById("modalBackground");
        var contentArea = document.getElementById("modalContentArea");

        if (contentType === "addExerciseType") {
          contentArea.innerHTML = `
            <h2>Agregar Tipo de Ejercicio</h2>
            <form method="post" style="display:inline;">
                {% csrf_token %}

                {{ tipo_ejercicio_form.as_p }}
                <button type="submit" name="add_tipo_ejercicio" class="btn btn-primary">Agregar Tipo de Ejercicio</button>
            </form>

            <h2>Lista de Tipos de Ejercicio</h2>
            <ul>
                {% for tipo in tipo_ejercicios %}
                    <li>
                        {{ tipo.nombre }}

                        <form method="post" action="{% url 'tipo_ejercicio_delete' tipo.tipoEjercicioID %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este tipo de ejercicio?')">Eliminar</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
            `;
        }

        $(modal).modal("show");
        $(background).show();
      }

      function closeModal() {
        var modal = document.getElementById("universalModal");
        var background = document.getElementById("modalBackground");

        $(modal).modal("hide");
        $(background).hide();
      }
    </script>
    <br>
    <br>
     <footer>
        <div class="container-fluid">
            <p>&copy; 2024 Clínica de Fisioterapia. Todos los derechos reservados.</p>
            <p>Ubicación: Universidad Técnica de Ambato</p>
        </div>
    </footer>
  </body>
</html>
