<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background-color: #e4ebf0;
        }
        footer {
            background-color: #4180ab; /* Azul oscuro */
            color: #fff; /* Blanco */
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            left: 0; /* Ajuste para eliminar el margen izquierdo */
            width: 100%;
            z-index: 0;
        }
        header{
            background-color:#4180ab ;
        }
    </style>
</head>
<body>
    <header class=" text-white p-3 d-flex justify-content-between align-items-center">
        <img src="https://i.ibb.co/6WCZbKn/logo-png.png" width="100px" alt="imagenClinica" class="clinic-logo">
        <h1 class="m-0">Clínica Fisioterapia</h1>
        <a href="{% url 'home' %}" class="close-session text-white text-decoration-none">Cerrar Sesión</a>
    </header>

    <div class="container mt-5">
        <h1>Editar {{ tipo }}</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="tipo" value="{{ tipo }}">
            <div class="form-group">
                <label for="cedula">Cédula:</label>
                <input type="text" id="cedula" name="cedula" value="{{ item.cedula }}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{ item.nombre }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" value="{{ item.apellido }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="celular">Celular:</label>
                <input type="text" id="celular" name="celular" value="{{ item.celular }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" value="{{ item.direccion }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" value="{{ item.contrasena }}" class="form-control">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" id="showPassword" class="form-check-input">
                <label class="form-check-label" for="showPassword">Mostrar Contraseña</label>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Función para alternar la visibilidad de la contraseña
        document.getElementById("showPassword").addEventListener("change", function() {
            var passwordField = document.getElementById("contrasena");
            if (this.checked) {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        });
    </script>

<footer>
    <div class="container-fluid">
        <p>&copy; 2024 Clínica de Fisioterapia. Todos los derechos reservados.</p>
        <p>Ubicación: Universidad Técnica de Ambato</p>
    </div>
</footer>
</body>
</html>
